@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*
Fondo: #1D1D1D
Titulos: #B88A4C
Texto: #fffff

*/
body {
  background-color: #1d1d1d;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #232221;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

ul {
  list-style: none;
  display: flex;
  padding: 10px;
  margin: 0; /* Para eliminar márgenes que puedan afectar */
}

li {
  padding: 10px;
}

.nava {
  text-decoration: none; /* Quitar subrayado */
  color: inherit;
  color: #ffffff81; /* Para que el color sea el del contenedor, opcional */
}
.nava:hover {
    color: #826137;
    text-decoration-line: inherit;
  }
  /* Layout general: 2 columnas */
/* Layout general */
.container-layout {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  /* Sidebar */
  .sidebar {
    flex: 0 0 220px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
  }

  .sidebar h3 {
    font-family: 'Orbitron', sans-serif;
    color: #1E90FF;
    margin-bottom: 15px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
    color: #D3D3D3;
    cursor: pointer;
  }

  /* Sección de productos */
  .product-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-section h2 {
    font-family: 'Orbitron', sans-serif;
    color: #cd7f32;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
  }

  .product-card {
    background-color: #111;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .product-info h3 {
    font-family: 'Orbitron', sans-serif;
    color: #cd7f32;
    margin: 0 0 10px;
  }

  .product-info p {
    font-size: 0.9rem;
    color: #D3D3D3;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(218, 255, 212, 0.603);
    margin-bottom: 10px;
  }

  .add-to-cart {
    padding: 8px 12px;
    background-color: #64b85957;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }